
@media only screen and (min-width: 450px) {
    .fondo {
        background-size: cover;
        /*background-image: url("../../../content/images/wallpaper-conciertos-4.jpg");*/
        background: linear-gradient(to bottom right, white, #409cff);
    }
    .container{
        background-image: url("../../../content/images/wallpaper-conciertos-4.jpg");
    }
}

/*.fondo{
    background-size: cover;
    !*background-image: url("../../../content/images/fondoTopTracks.jpg");*!
    background: linear-gradient(to bottom right, white, #409cff);
}*/

/*.marco {
    width: 1200px;
    height: 800px;
}*/

.cover {
    background-size: cover;
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px;
    border: 2px solid #151515;
    position: relative;
}
.audio{
    align-content: center;
    margin-top: 8%;
    width: 100%;
}

.tituloSong{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.overlayInfo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}
.cover img{
    cursor: pointer;
    width: 65px;
    height: 65px;
    float: left;
    margin-left: 32%;
    display: inline-block;
    margin-top: 15%;
}

.cover:hover .overlayInfo{
    opacity: 0.9;
}

.botonyoutube{
    margin-top: 5%;
    margin-left: 27%;
}


.modal-dialog {
    max-width: 1000px;
    margin: 110px auto 30px;
}



.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color: red;
    opacity:1;
    cursor: pointer;
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
}
