<div class="fondo">
    <br>
        <h2 style="text-align: center"><span data-translate="rockbible3App.pageartist.pages.title">Mis Artistas</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="jumbotron fondo">
        <div class="row">
            <div *ngFor="let favourites of Favoritos" class="infoDiv col-lg-2 col-md-4 col-sm-6">
              <div class="cover" [style.background-image]="sanitizeImage(favourites[0].albumId)">
                    <div class="overlayInfo">
                        <div>
                            <img id="{{favourites[0].id}}" (click)="like(favourites[0].id)" alt="completo" src="../../../content/images/heart-2.png">
                            <button class="btn btn-primary botonyoutube" (click)="openModal(favourites[0].name, favourites[0].artistName)">Youtube</button>
                            <audio controls class="audio">
                                <source src="{{favourites[0].previewURL}}" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                </div>
                <p class="tituloSong" style="text-align: center; color: white">{{favourites[0].name}}</p>
            </div>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <iframe id="myFrame" width="740" height="420" [src]="video" frameborder="0"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
