.btn{
    color:white!important;
    background-color: green!important;
    margin-left: 45%!important;
    border-color:white!important;
}
.btn:hover{
    color:green!important;
    background-color: white!important;
    border-color:green!important;
}

span{
    color:white!important;
}

label{
    color:white!important;
}

.text-danger{
    font-size: 14px!important;
}

span{
    font-size: 13px!important;
}

form{
    margin-left: 4%!important;
}
.form-control{
    border-radius: 5px!important;
    height: 35px!important;
    color:black!important;
    font-family: Oswald, sans-serif;
    font-style: italic!important;
    font-size: 14px!important;
    width: 100%!important;
}

h1{
    color: black!important;
    font-size: 2.5em!important;
}

span{
    font-size: 15px!important;
}
button:hover{
    -webkit-box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    cursor:pointer;
}

@media (min-width: 600px) {
    .col-md-8{
        width: 64%!important;
    }
}
@media (min-width: 400px) {
    .col-md-8{
        width: 50%!important;
    }
}


