/* ---------------------------------------------------
    CONTENT HEADER
----------------------------------------------------- */
.fondo{
    margin-left: 17%;
    width: 83%;
    background-size: cover;
    background: linear-gradient(#33b7ff,#020d1c);
}

h2{
    color:white!important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#fh5co-main {
    width: 83%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.container-fluid {
    min-height: 475px;
    background: linear-gradient(#33b7ff,#020d1c);
    background-size: auto;
}
@media screen and (max-width: 1200px) {
    #fh5co-main {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    #fh5co-main {
        width: 100%;
    }
}
