.container{
    margin-left: 18%!important;
    width: 75%;
}
.pic1:before
{
    content: '';
    margin-top: 0;
    margin-left: -120px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/julio.jpg') center center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
}
.pic2:before
{
    content: '';
    margin-top: 0;
    margin-left: -120px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/david.png') center center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
}
.pic3:before
{
    content: '';
    margin-top: 0;
    margin-left: -120px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/borja.png') center center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
}
.pic4:before
{
    content: '';
    margin-top: 0;
    margin-left: -120px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/bryan.jpg') center center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
}
.pic5:before
{
    content: '';
    margin-top: 0;
    margin-left: -120px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../content/images/javi.png') center center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
}
.pic1:hover , .pic2:hover , .pic3:hover , .pic4:hover , .pic5:hover , .box1:hover , .box2:hover , .social1:hover , .social2:hover , .social3:hover
{
    box-shadow: 3px 3px 7px #888888;
    cursor:pointer;
}
.pic
{
    box-shadow: 6px 6px 7px #888888;
    width: 220px;
    height: 220px;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-top: 180px;
    margin-left: 50px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pic4
{
    background-color: #FE9900;
}

.pic5
{
    background-color: #D2D2D2;
}

.social1
{
    box-shadow: 6px 6px 7px #888888;
    width:80px;
    height:80px;
    background-color:black!important;
    margin-top: -85%;
    margin-left: 277px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cols{
    margin-top: -4%!important;
}

.social1 > i
{
    font-size:60px;
    margin-top:13px;
    margin-left:20px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color:#ffffff;
}
.social3
{
    box-shadow: 6px 6px 7px #888888;
    width:80px;
    height:80px;
    background-color:#228896;
    margin-top: -7%;
    margin-left: 218px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.social3 > i
{
    font-size:60px;
    margin-top:9px;
    margin-left:9px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color:#ffffff;
}
.banner-parallax2 {
    margin-left: 18%;
    background: url("../../../content/images/model-2.png") no-repeat;
    background-size: cover;
    width: 100%!important;
    height: 100%!important;
}
.banner-parallax2 img{
    position: absolute;
    left: 210px;
    top: 300px;
}
.banner-parallax2 .row{
    margin-top: -100px;
}
.fabi-throne{
    margin-top: -96px;
}
.about-us-wrap {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding-top: 75px;
}
.welcome-popgirl{
    margin-top: 5px;
    font-size: 22px;
}

#r{
    margin-top:45px!important;
}
