<div>
    <h2>
        <span jhiTranslate="rockbible3App.valoracionArtist.home.title">Valoracion Artists</span>
        <button class="btn btn-primary float-right jh-create-entity create-valoracion-artist" [routerLink]="['/', { outlets: { popup: ['valoracion-artist-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rockbible3App.valoracionArtist.home.createLabel">
            Create new Valoracion Artist
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="valoracionArtists">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rockbible3App.valoracionArtist.puntuacion">Puntuacion</span></th>
            <th><span jhiTranslate="rockbible3App.valoracionArtist.like">Like</span></th>
            <th><span jhiTranslate="rockbible3App.valoracionArtist.timestamp">Timestamp</span></th>
            <th><span jhiTranslate="rockbible3App.valoracionArtist.artist">Artist</span></th>
            <th><span jhiTranslate="rockbible3App.valoracionArtist.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let valoracionArtist of valoracionArtists ;trackBy: trackId">
                <td><a [routerLink]="['../valoracion-artist', valoracionArtist.id ]">{{valoracionArtist.id}}</a></td>
                <td>{{valoracionArtist.puntuacion}}</td>
                <td>{{valoracionArtist.like}}</td>
                <td>{{valoracionArtist.timestamp | date:'medium'}}</td>
                <td>
                    <div *ngIf="valoracionArtist.artist">
                        <a [routerLink]="['../artist', valoracionArtist.artist?.id ]" >{{valoracionArtist.artist?.name}}</a>
                    </div>
                </td>
                <td>
                    {{valoracionArtist.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../valoracion-artist', valoracionArtist.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'valoracion-artist/'+ valoracionArtist.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'valoracion-artist/'+ valoracionArtist.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
