<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <br><br>
                    <div class="input-group stylish-input-group">
                        <input type="text" id="buscador" (keyup.enter)="searchSong()" [(ngModel)]="search"
                               placeholder="Buscar artista o canción">
                        <span class="input-group-addon">
                            <a (click)="searchSong()">
                                <span class="fa fa-search"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div *ngFor="let search of DataSearch" class="infoDiv col-lg-3 col-md-4 col-sm-6 cols-xs-8">
            <div class="cover" [style.background-image]="sanitizeImage(search.albumId)">
                <div class="overlayInfo">
                    <div>
                        <img id="{{search.id}}" (click)="like(search.id)" alt="vacio"
                             src="../../../content/images/heart-1.png">
                        <button class="botonyoutube" id="y"
                                (click)="openModal(search.name, search.artistName)"><i
                            class="glyphicon glyphicon-play"></i>
                        </button>
                        <audio controls class="audio">
                            <source src="{{search.previewURL}}" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
            </div>
            <p class="tituloSong" style="text-align: center; color: white">{{search.name}}</p>
        </div>
        <div class="row">
            <br><br>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let data of DataTopTracks" class="infoDiv col-lg-3 col-md-4 col-sm-6 image-top">
            <div class="cover img-responsive" [style.background-image]="sanitizeImage(data.albumId)">
                <div class="overlayInfo">
                    <div>
                        <div>
                            <div *ngIf="isLiked(data.id); else notLiked">
                                <img id="{{data.id}}" (click)="dislike(data.id)" alt="completo"
                                     src="../../../content/images/heart-2.png">
                            </div>
                            <ng-template #notLiked>
                                <img id="{{data.id}}" (click)="like(data.id)" alt="vacio"
                                     src="../../../content/images/heart-1.png">
                            </ng-template>
                            <button class="btn btn-primary botonyoutube" id="y2"
                                    (click)="openModal(data.name, data.artistName)"><i class="fa fa-play" aria-hidden="true"></i>
                            </button>
                            <audio controls class="audio">
                                <source src="{{data.previewURL}}" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
            <p class="tituloSong" style="text-align: center; color: black">{{data.name}}</p>
        </div>
        <div class="backdrop" [ngStyle]="{'display':display}"></div>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display,'width':560}">
            <div class="modal-dialog" role="document">
                <div class="backdrop"></div>
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- X ponerla visible -->
                        <button type="button" class="close" (click)="onCloseHandled()">X</button>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="embed-responsive-item" [src]="video" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
