.fondo{
    background-size: cover;
    /*background-image: url("../../../content/images/fondoTopTracks.jpg");*/
    background: linear-gradient(to bottom right, white, #409cff);
}


.cover {
    background-size: cover;
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px;
    border: 2px solid #151515;
    position: relative;
}
.audio{
    align-content: center;
    margin-top: 8%;
    width: 100%;
}

.tituloSong{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.overlayInfo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}
.cover img{
    cursor: pointer;
    width: 65px;
    height: 65px;
    float: left;
    margin-left: 32%;
    display: inline-block;
    margin-top: 15%;
}

.cover:hover .overlayInfo{
    opacity: 0.9;
}

.youtube .botonyoutube{
    margin-left: 37%;
    width: 45px;
    height: 45px;
    margin-top: 1%;
}

.image-top {
    /*
    max-width: inherit!important;
    text-align: center;
    */
    /*display: flex;
    flex-wrap: wrap;*/
}

.modal-dialog {
    max-width: 1000px;
    margin: 100px auto 30px;
}



.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color: red;
    opacity:1;
    cursor: pointer;
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.8;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
    }
}
