<div>
    <jhi-alert-error></jhi-alert-error>
        <div class="fondo">
        <!-- Page Content Holder -->
            <div class="row">
                <div class="col-sm-12 buscador">
                    <br>
                    <input type="text" (keyup.enter)="searchSong()" [(ngModel)]="search" class="buscador" placeholder="Buscar artista o canción">
                    <button class="btn btn-primary"  (click)="searchSong()"><span class="glyphicon glyphicon-search"></span></button>
                </div><br>
                <div class="row">
                    <div class="col-lg-10" style="text-align: center"><h1><span class="glyphicon glyphicon-search"></span> Búsquedas</h1></div>
                </div>
                <div class="row">
                    <div *ngFor="let search of DataSearch" class="infoDiv col-lg-3 col-md-4 col-sm-6">
                        <div class="cover" [style.background-image]="sanitizeImage(search.albumId)">
                            <div class="overlayInfo">
                                <div>
                                    <img id="{{search.id}}" (click)="like(search.id)" alt="vacio"
                                         src="../../../content/images/heart-1.png">
                                    <button class="btn btn-primary botonyoutube"
                                            (click)="openModal(search.name, search.artistName)"><span class="glyphicon glyphicon-play"></span>Youtube
                                    </button>
                                    <audio controls class="audio">
                                        <source src="{{search.previewURL}}" type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <p class="tituloSong" style="text-align: center; color: white">{{search.name}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12" style="text-align: center"><h1><span class="glyphicon glyphicon-music"></span> Top Canciones</h1></div>
                </div>
                <div class="row">
                    <div *ngFor="let data of DataTopTracks" class="infoDiv col-lg-3 col-md-4 col-sm-6 image-top">
                        <div class="cover img-responsive" [style.background-image]="sanitizeImage(data.albumId)">
                            <div class="overlayInfo">
                                <div>
                                    <img id="{{data.id}}" (click)="like(data.id)" alt="vacio"
                                         src="../../../content/images/heart-1.png">
                                    <button class="btn btn-primary botonyoutube"
                                            (click)="openModal(data.name, data.artistName)"><span class="glyphicon glyphicon-play"></span>Youtube
                                    </button>
                                    <audio controls class="audio">
                                        <source src="{{data.previewURL}}" type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <p class="tituloSong" style="text-align: center; color: white">{{data.name}}</p>
                    </div>
                    <div class="backdrop" [ngStyle]="{'display':display}"></div>
                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display,'width':560}">
                        <div class="modal-dialog" role="document">
                            <div class="backdrop"></div>
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" (click)="onCloseHandled()">X</button>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe id="embed-responsive-item" [src]="video" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center"><h1><span class="glyphicon glyphicon-star"></span> Top Artistas</h1></div>
                </div>
            </div>
        </div>
</div>
