<div [ngStyle]="{'display':displayCountry}">
    <div class="picture-grid">
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('alemania')">
            <div class="overlayInfo" (click)="topSong('DE')">
                <div class="nombre">
                    <a class="hijo">ALEMANIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('argentina')">
            <div class="overlayInfo" (click)="topSong('AR')">
                <div class="nombre">
                    <a class="hijo">ARGENTINA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('belgica')">
            <div class="overlayInfo" (click)="topSong('BE')">
                <div class="nombre">
                    <a class="hijo">BÉLGICA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('brasil')">
            <div class="overlayInfo">
                <div class="nombre" (click)="topSong('BR')">
                    <a class="hijo">BRASIL</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('colombia')">
            <div class="overlayInfo" (click)="topSong('CO')">
                <div class="nombre">
                    <a class="hijo">COLOMBIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('eeuu')">
            <div class="overlayInfo" (click)="topSong('US')">
                <div class="nombre">
                    <a class="hijo">ESTADOS UNIDOS</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('barcelona')">
            <div class="overlayInfo" (click)="topSong('ES')">
                <div class="nombre">
                    <a class="hijo">ESPAÑA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('francia')">
            <div class="overlayInfo" (click)="topSong('FR')">
                <div class="nombre">
                    <a class="hijo">FRANCIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('grecia')">
            <div class="overlayInfo" (click)="topSong('GR')">
                <div class="nombre">
                    <a class="hijo">GRECIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('holanda')">
            <div class="overlayInfo" (click)="topSong('NL')">
                <div class="nombre">
                    <a class="hijo">HOLANDA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('italia')">
            <div class="overlayInfo" (click)="topSong('IT')">
                <div class="nombre">
                    <a class="hijo">ITALIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('mexico')">
            <div class="overlayInfo" (click)="topSong('MX')">
                <div class="nombre">
                    <a class="hijo">MÉXICO</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('portugal')">
            <div class="overlayInfo" (click)="topSong('PT')">
                <div class="nombre">
                    <a class="hijo">PORTUGAL</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('reino_unido')">
            <div class="overlayInfo" (click)="topSong('GB')">
                <div class="nombre">
                    <a class="hijo">REINO UNIDO</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('suecia')">
            <div class="overlayInfo" (click)="topSong('SE')">
                <div class="nombre">
                    <a class="hijo">SUECIA</a>
                </div>
            </div>
        </div>
        <div class="paises img-responsive" [style.background-image]="sanitizeImageCountry('suiza')">
            <div class="overlayInfo" (click)="topSong('CH')">
                <div class="nombre">
                    <a class="hijo">SUIZA</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <jhi-alert-error></jhi-alert-error>
    <div class="fondo" [ngStyle]="{'display':displayMain}">
        <!-- Page Content Holder -->
        <!--<div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" id="buscador" (keyup.enter)="searchSong()" [(ngModel)]="search"
                                   placeholder="Buscar artista o canción">
                            <span class="input-group-addon">
                    <button (click)="searchSong()">
                            <span class="glyphicon glyphicon-search"></span>
                                </button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <br><br>
        <div class="row">
            <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" (click)="changeCountry()">Cambiar País</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Canciones</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div *ngFor="let search of DataSearch" class="infoDiv col-lg-3 col-md-4 col-sm-6 cols-xs-8">
                <div class="cover" [style.background-image]="sanitizeImage(search.albumId)">
                    <div class="overlayInfo">
                        <div>
                            <img id="{{search.id}}" (click)="like(search.id)" alt="vacio"
                                 src="../../../content/images/heart-1.png">
                            <button class="btn btn-primary botonyoutube" id="y"
                                    (click)="openModal(search.name, search.artistName)"><i
                                class="glyphicon glyphicon-play"></i>
                            </button>
                            <audio controls class="audio">
                                <source src="{{search.previewURL}}" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                </div>
                <p class="tituloSong" style="text-align: center; color: white;">{{search.name}}</p>
            </div>
            <div class="row">
                <br><br>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let data of DataTopTracks" class="infoDiv col-lg-3 col-md-4 col-sm-6 image-top">
                <div class="cover img-responsive" [style.background-image]="sanitizeImage(data.albumId)">
                    <div class="overlayInfo">
                        <div>
                            <div>
                                <div *ngIf="isLiked(data.id); else notLiked">
                                    <img id="{{data.id}}" (click)="dislike(data.id)" alt="completo"
                                         src="../../../content/images/heart-2.png">
                                </div>
                                <ng-template #notLiked>
                                    <img id="{{data.id}}" (click)="like(data.id)" alt="vacio"
                                         src="../../../content/images/heart-1.png">
                                </ng-template>
                                <button class="btn btn-primary botonyoutube" id="y2"
                                        (click)="openModal(data.name, data.artistName)"><i
                                    class="glyphicon glyphicon-play"></i>
                                </button>
                                <audio controls class="audio">
                                    <source src="{{data.previewURL}}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="tituloSong" style="text-align: center; color: black">{{data.name}}</p>
            </div>
            <div class="backdrop" [ngStyle]="{'display':display}"></div>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display,'width':560}">
                <div class="modal-dialog" role="document">
                    <div class="backdrop"></div>
                    <div class="modal-content">
                        <div class="modal-body">
                            <!-- X ponerla visible -->
                            <button type="button" class="close" (click)="onCloseHandled()">X</button>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="embed-responsive-item" [src]="video" frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
