.fondo{
    background-size: cover;
    /*background-image: url("../../../content/images/fondoTopTracks.jpg");*/
    background: linear-gradient(to bottom right, white, #409cff);
}

.cover {
    /* imagenes de los discos*/
    background-size: cover;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border: 2px solid #151515;
    position: relative;
}
.audio{
    align-content: center;
    margin-top: 22%;
    width: 100%;
}

.tituloSong{
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
}

.overlayInfo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}
.cover img{
    /* imagenes del fondo los discos*/
    cursor: pointer;
    width: 65px;
    height: 65px;
    margin-left: 25%;
    display: inline-block;
    margin-top: 25%;
}

.cover:hover .overlayInfo{
    opacity: 0.9;
}

.image-top {
    max-width: inherit!important;
    text-align: center;
}
