
<div *ngIf="collections">
    <h2><span jhiTranslate="rockbible3App.collections.detail.title">Collections</span> {{collections.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rockbible3App.collections.napsterId">Napster Id</span></dt>
        <dd>
            <span>{{collections.napsterId}}</span>
        </dd>
        <dt><span jhiTranslate="rockbible3App.collections.type">Type</span></dt>
        <dd>
            <span>{{collections.type}}</span>
        </dd>
        <dt><span jhiTranslate="rockbible3App.collections.user">User</span></dt>
        <dd>
            {{collections.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collections/'+ collections.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
