<div>
    <h2>
        <span jhiTranslate="rockbible3App.song.home.title">Songs</span>
        <button class="btn btn-primary float-right jh-create-entity create-song" [routerLink]="['/', { outlets: { popup: ['song-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rockbible3App.song.home.createLabel">
            Create new Song
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="songs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rockbible3App.song.name">Name</span></th>
            <th><span jhiTranslate="rockbible3App.song.description">Description</span></th>
            <th><span jhiTranslate="rockbible3App.song.genre">Genre</span></th>
            <th><span jhiTranslate="rockbible3App.song.album">Album</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let song of songs ;trackBy: trackId">
                <td><a [routerLink]="['../song', song.id ]">{{song.id}}</a></td>
                <td>{{song.name}}</td>
                <td>{{song.description}}</td>
                <td>
                    <div *ngIf="song.genre">
                        <a [routerLink]="['../genre', song.genre?.id ]" >{{song.genre?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="song.album">
                        <a [routerLink]="['../album', song.album?.id ]" >{{song.album?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../song', song.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'song/'+ song.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'song/'+ song.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
