<div class="fondo container-fluid">
<div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>Top Canciones</h1></div>
    <div *ngFor="let data of DataTopTracks" class="infoDiv col-lg-2 col-md-3 col-sm-6">
        <div class="cover"  [style.background-image]="sanitizeImage(data.albumId)">
            <div class="overlayInfo">
                <div>
                    <img class="image" src="../../content/images/heart-1.png" height="20px" width="20px"/>
                    <audio controls class="audio">
                        <source src="{{data.previewURL}}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
        <p class="tituloSong" style="text-align: center; color: white">{{data.name}}</p>
    </div>
</div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <input [(ngModel)]="search" type="text" required>
            <button class="btn btn-primary" (click)="searchSong()">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let data of DataSearch" class="infoDiv col-lg-2 col-md-3 col-sm-6">
            <div class="cover" [style.background-image]="sanitizeImage(data.albumId)">
                <div class="overlayInfo">
                    <div>
                        <audio controls class="audio">
                            <source src="{{data.previewURL}}" type="audio/mpeg">
                        </audio>
                    </div>
                    <div class="tituloSong">{{data.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
