<div>
    <h2>
        <span jhiTranslate="rockbible3App.album.home.title">Albums</span>
        <button class="btn btn-primary float-right jh-create-entity create-album" [routerLink]="['/', { outlets: { popup: ['album-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rockbible3App.album.home.createLabel">
            Create new Album
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="albums">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rockbible3App.album.name">Name</span></th>
            <th><span jhiTranslate="rockbible3App.album.numSongs">Num Songs</span></th>
            <th><span jhiTranslate="rockbible3App.album.releaseDate">Release Date</span></th>
            <th><span jhiTranslate="rockbible3App.album.band">Band</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let album of albums ;trackBy: trackId">
                <td><a [routerLink]="['../album', album.id ]">{{album.id}}</a></td>
                <td>{{album.name}}</td>
                <td>{{album.numSongs}}</td>
                <td>{{album.releaseDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="album.band">
                        <a [routerLink]="['../band', album.band?.id ]" >{{album.band?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../album', album.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'album/'+ album.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'album/'+ album.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
