<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBandLabel" jhiTranslate="rockbible3App.band.home.createOrEditLabel">Create or edit a Band</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!band.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="band.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="band.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.locationGoogleMaps" for="field_locationGoogleMaps">Location Google Maps</label>
            <input type="text" class="form-control" name="locationGoogleMaps" id="field_locationGoogleMaps"
                [(ngModel)]="band.locationGoogleMaps"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="band.latitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.logitude" for="field_logitude">Logitude</label>
            <input type="number" class="form-control" name="logitude" id="field_logitude"
                [(ngModel)]="band.logitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="band.status" id="field_status" >
                <option value="ACTIVO">{{'rockbible3App.Status.ACTIVO' | translate}}</option>
                <option value="DESCANSO">{{'rockbible3App.Status.DESCANSO' | translate}}</option>
                <option value="RETIRADO">{{'rockbible3App.Status.RETIRADO' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="band.country" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === band.country?.id ? band.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rockbible3App.band.label" for="field_label">Label</label>
            <select class="form-control" id="field_label" name="label" [(ngModel)]="band.label" >
                <option [ngValue]="null"></option>
                <option [ngValue]="labelOption.id === band.label?.id ? band.label : labelOption" *ngFor="let labelOption of labels; trackBy: trackLabelById">{{labelOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="rockbible3App.band.genre" for="field_genre">Genre</label>
            <select class="form-control" id="field_genre" multiple name="genre" [(ngModel)]="band.genres">
                <option [ngValue]="getSelected(band.genres, genreOption)" *ngFor="let genreOption of genres; trackBy: trackGenreById">{{genreOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
