.boton2{
    color:white!important;
    background-color: green!important;
    margin-left: 44%!important;
}

.form-control{
    width: 85%!important;
}
button:hover {
    -webkit-box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    cursor: pointer;
    background-color: white !important;
    color: green !important;
}

span{
    color:white!important;
}

label{
    color:black!important;
}

.text-danger{
    font-size: 14px!important;
}

.form-control{
    border-radius: 5px!important;
    height: 35px!important;
    color:black!important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic!important;
    font-size: 14px!important;
    margin-left:16%!important;
    width: 86%!important;
}

h1{
    color:white!important;
    margin-left:33%!important;


}

#fondob{
    background-color: black!important;
}


@media (max-width: 700px) {
    .form-control{
        margin-left: 50px!important;
        width: 102%!important;
    }
    .boton2{
        margin-left: 46%!important;

    }

}

@media (max-width: 600px) {
    .form-control{
        margin-left: 50px!important;
    }
    .boton2{
        margin-left: 46%!important;

    }

}
@media (max-width: 768px) {

    .form-control{
        margin-left: 129px!important;
        width: 81%!important;
    }
    .boton2{
        margin-left: 49%!important;

    }
    h1{
        margin-left: 37%!important;
    }
}
