.boton2{
    color:white!important;
    background-color: green!important;
    margin-left: 40%!important;
}

button:hover {
    -webkit-box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 51px 4px rgba(255, 255, 255, 1);
    cursor: pointer;
    background-color: white !important;
    color: green !important;
}

span{
    color:white!important;
}

label{
    color:black!important;
}

.text-danger{
    font-size: 14px!important;
}

.form-control{
    border-radius: 5px!important;
    height: 35px!important;
    color:black!important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic!important;
    font-size: 14px!important;
}

h1{
    color:white!important;

}
