<div class="modal-header">
    <div class="logo">
        <img src="../../../content/images/logo.png" height="225" width="225"/>

    </div>
    <button id="close" aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span></button>
</div>
<div class="body">
<ngb-tabset>
    <ngb-tab title="LOGIN" style="background-color:black!important">
        <ng-template ngbTabContent>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                    <div class="col-md-6">

                        <form class="form" role="form" (ngSubmit)="login()">
                            <p>
                            <div class="form-group" id="form">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                                       [(ngModel)]="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                                       [(ngModel)]="password">
                            </div>
                            </p>
                            <div class="form-check">
                                <label class="form-check-label" for="rememberMe">
                                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                                    <span jhiTranslate="login.form.rememberme"> Remember me</span>
                                </label>
                            </div>
                            <br>
                            <button type="submit" class="boton2" jhiTranslate="login.form.button">Iniciar sesión</button>
                        </form>
                        <p></p>

                        <br>

                        <p>

                        </p>

                    </div>
                    <div class="col-md-6">
                        <div class="social">
                            <br>
                            <button class="fb btn block" ng-click="FBLogin();"><i class="ion-social-facebook-outline"></i> Inicia sesión con <strong>Facebook</strong></button><br>
                            <button class="google btn block" ng-click="authenticate('google','Se ha producido un error al iniciar sesión con Google. Por favor, vuelva a intentarlo.')"><i class="ion-social-google" aria-hidden="true"></i> Inicia sesión con <strong>Google</strong></button>

                            <a class="alert" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">¿Olvidaste la <strong>contraseña?</strong></a><br>
                            <a href="#login-controls" class="reg" (click)="register()"   ng-hide="formVisibility" role="button" jhiTranslate="global.messages.info.register.noaccount">¿No eres usuario? <strong jhiTranslate="global.messages.info.register.link">¡Regístrate!</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>REGISTER</ng-template>
        <ng-template ngbTabContent>
                <div class="col-md-8">

                    <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                        <strong>Registration saved!</strong> Please check your email for confirmation.
                    </div>

                    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                        <strong>Registration failed!</strong> Please try again later.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                        <strong>Login name already registered!</strong> Please choose another one.
                    </div>

                    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                        <strong>Email is already in use!</strong> Please choose another one.
                    </div>

                    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                        The password and its confirmation do not match!
                    </div>
                </div>
            <div class="col-md-4">
            <form name="form" role="form" (ngSubmit)="registerForm()" #registerForm="ngForm" *ngIf="!success">


            <div class="form-group">

                <label class="form-control-label" for="login" jhiTranslate="global.form.username">Username </label>
                <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="{{'global.form.username.placeholder' | translate}}"
                       required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                <div *ngIf="login.dirty && login.invalid">
                    <small class="form-text text-danger" *ngIf="login.errors.required" jhiTranslate="register.messages.validate.login.required">
                        Your username is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.minlength"
                           jhiTranslate="register.messages.validate.login.minlength">
                        Your username is required to be at least 1 character.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                           jhiTranslate="register.messages.validate.login.maxlength">
                        Your username cannot be longer than 50 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="login.errors.pattern"
                           jhiTranslate="register.messages.validate.login.pattern">
                        Your username can only contain lower-case letters and digits.
                    </small>
                </div>
            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                                       [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                                <div *ngIf="email.dirty && email.invalid">
                                    <small class="form-text text-danger" *ngIf="email.errors.required"
                                           jhiTranslate="global.messages.validate.email.required">
                                        Your email is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                           jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                           jhiTranslate="global.messages.validate.email.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                           jhiTranslate="global.messages.validate.email.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
            <div class="form-group">
                <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
                <input type="password" class="form-control" id="password2" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                       [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                <div *ngIf="password.dirty && password.invalid">
                    <small class="form-text text-danger" *ngIf="password.errors.required"
                           jhiTranslate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="password.errors.minlength"
                           jhiTranslate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                           jhiTranslate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters.
                    </small>
                </div>
                <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                       [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                           jhiTranslate="global.messages.validate.confirmpassword.required">
                        Your confirmation password is required.
                    </small>
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                           jhiTranslate="global.messages.validate.confirmpassword.minlength">
                        Your confirmation password is required to be at least 4 characters.
                    </small>
                    <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                           jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                        Your confirmation password cannot be longer than 50 characters.
                    </small>
                </div>
            </div>


                            <button type="submit" class="b"[disabled]="registerForm.form.invalid" jhiTranslate="register.form.button">Register</button><br>
                        </form>
            </div>

                    </div>

                </div>

        </ng-template>
    </ngb-tab>
</ngb-tabset>


