.boton2{
    color:white!important;
    background-color: green!important;
    margin-left: 33%!important;
}

span{
    color:white!important;
}

label{
    color:white!important;
}

.text-danger{
    font-size: 14px!important;
}

.form-control{
    border-radius: 5px!important;
    height: 35px!important;
    color:black!important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic!important;
    font-size: 14px!important;
}

button:hover{
    -webkit-box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 51px 4px rgba(255,255,255,1);
    cursor:pointer;
}

@media only screen and (max-width: 600px) {

    .boton2{
        margin-left: 41%!important;
    }
}
